
<div class="container mt-4">
    <div class="row">
    <div class="col-lg-6 col-mb-8 mt-3">
        <div class="card bg-dark border-light mb-3" style="max-width: 18rem;">
        <div class="card-header text-light">Связь с нами</div>
        <div class="card-body">
            <h5 class="card-title text-light">Звоните на номера:</h5>
            <p class="card-text text-light">Владимир:+380xxxxxxxxxx,</p>
            <p class="card-text text-light">  Станислав:+380xxxxxxxxxx</p>
        </div>
        </div>  
    </div>
    <div class="col-lg-6 col-mb-8 mt-3 mb-3">
        <div class="mb-2">
        <label for="exampleFormControlInput1" class="form-label text-light">Напишите на Email:</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="ВашEmail@example.com">
        </div>
        <div class="mb-2">
        <label for="exampleFormControlTextarea1" class="form-label text-light">Краткое описание проблемы и ваш номер телефона</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </div>
    </div>
</div>
<p class="text-center text-muted">© Copyright 2020 The Awesome People</p>

