<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../block/head');%>
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="#">Ремонт Авто <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Home</a>
        </div>
    </nav>

  <script src="../public/jquery/dist/jquery.slim.min.js" type="text/javascript"></script>
  <script src="../public/popper.js/dist/umd/popper.min.js" type="text/javascript"></script>
  <script src="../public/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>